@import "tailwindcss";

@theme {
  --spacing-safe: env(safe-area-inset-bottom, 0);
  --font-numeric: Inter, Roboto, "Segoe UI", sans-serif;
}

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
  }
  #app {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
  }
  button {
    touch-action: manipulation;
    &:not(:disabled) {
      cursor: pointer;
    }
  }
}

@layer components {
  .router-link-active {
    @apply bg-white/30;
  }
}
